//  ----------------------------------------------JALDI
@font-face {
    font-family: 'Jaldi';
    src: 
        url('@/assets/fonts/jaldi/Jaldi-Regular.ttf') format('ttf'), 
        url('@/assets/fonts/jaldi/Jaldi-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Jaldi';
    src: 
        url('@/assets/fonts/jaldi/Jaldi-Bold.ttf') format('ttf'), 
        url('@/assets/fonts/jaldi/Jaldi-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

// -----------------------------------------------JOSEFIN

@font-face {
    font-family: 'JosefinSans';
    src: 
        url('@/assets/fonts/josefin/JosefinSans-Thin.ttf') format('ttf'), 
        url('@/assets/fonts/josefin/JosefinSans-Thin.woff') format('woff');
    font-weight: thin;
    font-style: normal;
}

@font-face {
    font-family: 'JosefinSans';
    src: 
        url('@/assets/fonts/josefin/JosefinSans-Light.ttf') format('ttf'), 
        url('@/assets/fonts/josefin/JosefinSans-Light.woff') format('woff');
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: 'JosefinSans';
    src: 
        url('@/assets/fonts/josefin/JosefinSans-LightItalic.ttf') format('ttf'), 
        url('@/assets/fonts/josefin/JosefinSans-LightItalic.woff') format('woff');
    font-weight: light;
    font-style: italic;
}

@font-face {
    font-family: 'JosefinSans';
    src: 
        url('@/assets/fonts/josefin/JosefinSans-Regular.ttf') format('ttf'), 
        url('@/assets/fonts/josefin/JosefinSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JosefinSans';
    src: 
        url('@/assets/fonts/josefin/JosefinSans-Italic.ttf') format('ttf'), 
        url('@/assets/fonts/josefin/JosefinSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'JosefinSans';
    src: 
        url('@/assets/fonts/josefin/JosefinSans-SemiBold.ttf') format('ttf'), 
        url('@/assets/fonts/josefin/JosefinSans-SemiBold.woff') format('woff');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'JosefinSans';
    src: 
        url('@/assets/fonts/josefin/JosefinSans-SemiBoldItalic.ttf') format('ttf'), 
        url('@/assets/fonts/josefin/JosefinSans-SemiBoldItalic.woff') format('woff');
    font-weight: bolder;
    font-style: italic;
}

@font-face {
    font-family: 'JosefinSans';
    src: 
        url('@/assets/fonts/josefin/JosefinSans-Bold.ttf') format('ttf'), 
        url('@/assets/fonts/josefin/JosefinSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'JosefinSans';
    src: 
        url('@/assets/fonts/josefin/JosefinSans-BoldItalic.ttf') format('ttf'), 
        url('@/assets/fonts/josefin/JosefinSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}